.contact-list {
  display: flex;
  text-align: center;
  gap: 30px;
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 0;
    flex-direction: unset;
    display: flex;
    gap: 30px;
    margin-left: auto;
  }

  & __link {
    color: var(--third-color);
    font-size: 14px;
  }

  &__icon {
    fill: var(--third-color);
    margin-right: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contacts-list__item:hover svg {
  fill: var(--main-color);
}

.contacts-list__item:focus svg {
  fill: var(--main-color);
}
.contact:hover {
  color: var(--main-color);
}
.contacts-list__link {
  color: var(--third-color);
  font-size: 14px;
}
.contacts-two {
  color: var(--fifth-color);
}
.contacts-list__icon {
  fill: var(--third-color);
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact {
  color: var(--third-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
