.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.footer-logo {
  color: var(--secondary-color);
}
.footer__inner {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
  }

  @media screen and (min-width: 1200px) {
    display: inline-block;
  }
}

.footer__studioname {
  color: var(--main-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer__studioname--white {
  color: var(--fourth-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__studioname--white:hover {
  color: var(--main-color);
}

.footer {
  background: var(--seventh-color);
  padding: 60px 0px;
}

.footer__contact {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 9px;
  color: var(--fourth-color);

  font-size: 14px;
  line-height: 1.71;
}
.footer__list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 9px;
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.footer-logo {
  color: var(--secondary-color);
}
footer__container {
  width: 100%;
}
