.section-grey {
  background: var(--seventh-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("/images/mobile.header/Header\ img1x.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0 auto;
  height: 400px;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(/images/BackgroundIndex.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url("/images/tablet.header/Header\ img1x.png");
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url("/images/BackgroundIndex.jpg");
    height: 600px;
  }
}
.grey {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  &__headline {
    font-size: 26px;
    line-height: 42px;
    color: var(--secondary-color);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 42px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 60px;
  }
}
