.joinus {
  margin-left: 70px;
  display: inline-block;
}

.joinus__list {
  display: flex;
}
.joinus__text {
  color: var(--fourth-color);
  font-weight: 700px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
  }
}
.joinus__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
.joinus__link {
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
}
.joinus-list {
  text-align: center;
}
.joinus__link:hover {
  background: var(--main-color);
  color: #fff;
  transition: 250ms;
}

.joinus__item svg,
.joinus__item:focus svg {
  fill: var(--fourth-color);
}

.joinus__item {
  fill: var(--fourth-color);
  transition: color 1500ms cubic-bezier(0.4, 0, 0.2, 1);
}
