.modal-button__main {
  background-color: var(--main-color);
  font-weight: 700;
  color: white;
  cursor: pointer;
  padding: 10px 42px 10px 41px;
  border-radius: 4px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  display: block;
  text-decoration: none;
}
.modal-side {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  right: 50%;
  top: 50%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1000;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.71, 1.51, 0.4, 2);
  @media screen and (max-width: 1199x) {
    width: 95%;
    max-width: 450px;
    height: 95%;
    max-height: 609px;
    overflow: auto;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}
.modal__close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50px;
}

.modal-vector__button {
  position: absolute;
}
.modal-tittle {
  font-weight: 700;
  font-size: 20px;
  line-height: 23.44px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
  margin-top: 40px;
}
.modal-labels {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modal-labels:has(.modal-holder:focus) .label-position {
  fill: var(--main-color);
}
.modal-svg {
  position: absolute;
  top: 65%;
  left: 55px;
}
.modal-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 4px;
  margin-left: 40px;
  margin-top: 10px;
  display: block;
  text-align: start;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-holder {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 30px;
  cursor: pointer;
  transition: border-color 2s, outline 2s;
  font-size: 12px;
}
.modal-holder:hover + .modal-svg,
.modal-holder:focus + .modal-svg {
  fill: var(--main-color);
}
.modal-icon {
  position: absolute;
  outline: none;
}
.modal-icon:hover,
.modal-icon:focus {
  border-color: var(--main-color);
  outline: var(--main-color);
  fill: var(--main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
