.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: flex;

  // visibility: hidden;
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 50px;
    visibility: unset;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 50px;
    visibility: unset;
  }

  &__link {
    color: var(--fifth-color);
    position: relative;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    color: var(--fifth-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link--activ {
    color: var(--fifth-color);
    margin-right: 46px;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    color: var(--fifth-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

//  Activ Butoon

.nav-list__link--activ::after {
  position: absolute;
  content: "";
  height: 4px;
  background-color: #2196f3;
  width: 100%;
  border-radius: 2px;
  bottom: -28px;
  left: 0px;
}

.navmenu-index,
.navmenu-portfolio > .menu {
  color: var(--tenth-color);
}
