* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  padding-top: 94px;
  padding-bottom: 94px;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.body-class {
  font-family: "Roboto", sans-serif;
  color: var(--fifth-color);
  letter-spacing: 0.03em;
}
.elementblue:hover,
.elementblue:focus,
.elementblue:active {
  color: var(--main-color);
}

.elementblue {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
li:hover p {
  transform: translateY(0%);
  transition: 0.3s ease-out;
}
